.index-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  box-shadow: 10px 10px 10px 10px #000000;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #fcdcc3;
}
.index-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.index-desktop-menu {
  flex: 1;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.index-links {
  gap: 0;
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}
.index-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.index-navlink {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.index-burger-menu {
  display: none;
}
.index-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.index-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.index-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.index-logo {
  height: 2rem;
}
.index-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.index-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.index-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-text6 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-login {
  margin-right: var(--dl-space-space-twounits);
}
.index-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.index-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.index-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.index-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.index-link {
  display: contents;
}
.index-icon10 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.index-link1 {
  display: contents;
}
.index-icon12 {
  width: 24px;
  height: 24px;
  align-self: center;
  text-decoration: none;
}
.index-image {
  width: 350px;
  height: 500px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-threeunits);
  object-fit: cover;
  padding-top: 0px;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.index-text7 {
  padding-top: var(--dl-space-space-oneandhalfunits);
}
.index-text8 {
  text-align: center;
  margin-top: 20px;
}
@media(max-width: 767px) {
  .index-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-desktop-menu {
    display: none;
  }
  .index-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .index-text2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-text6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .index-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .index-mobile-menu {
    padding: 16px;
  }
}
