body {
    margin: 0;
    background: #f5f5f5;
    
}
footer{
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size:400%;
  
}
.githublogo{
  color:#171515;

}
.githublogo:hover{
  color:darkgrey;

}
.linkedinlogo{
  color:#04669A;

}
.linkedinlogo:hover{
  color:darkgrey;

}
#myHeader {
  font-size: 300%;
  position:absolute;
  top:1%;
  left:3%;
}
#hellomessage {
  font-size: 250%;
  position:absolute;
  top:25%;
  left:10%;
}
#intro {
  font-size: 150%;
  position:absolute;
  top:40%;
  left:10%;
}


img {
  border: 3px solid rgb(0, 0, 0);
  position: absolute;
  top: 30%;
  left: 65%;
  border-radius: 60%;
  width: 20%;
  height:auto;
}

.topnav a {
  float: right;
  color: rgb(105,105,105);
  text-align: center;
  padding: 3%;
  text-decoration: none;
  font-size: 200%;
  }
  
.topnav a:hover {
  color: black;
}
.topnav a.active {
  color: black;
}